body{
	background-color: whitesmoke;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.header-name-ins{
	background-color: #ffffff;
  color: #2f2f2f;
	box-shadow: 0 0 30px #313131;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
	height: 80px;
	display: flex;
	align-items: center;
}

.header-name-ins p{
	margin: 0 1em;
	font-size: 2em;
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	box-shadow: 0 0 10px black;
	height: 54px;
	z-index: 99;
}

.list-container{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 1em;
}

.list-container li{
	margin: 0 1em;
}

.list-container li:hover{
	cursor: pointer;
	opacity: 0.9;
}

.header-container{
	background-color: #dcdcdc;
	height: 90vh;
	position: relative;
	background-repeat: no-repeat;
	margin-top: 80px;
	background-size: cover;
	background-position: center;
}

.header-images{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* background-image: linear-gradient(225deg, #5c0227 0%, #d4d4d4 100%); */
	z-index: 2;
	/* display: flex;
	justify-content: center;
	align-content: center;
	align-items: center; */
	display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
  grid-template-rows: repeat(auto-fill, 50px);
	padding: 3em;
}

.header-image{
	/* height: 450px;
	width: 650px; */
	box-shadow: 0 0 50px #232323ba;
}

.image1{
	grid-row-start: 1;
	grid-row-end: 8;
	grid-column-start: 1;
	grid-column-end: 6;
}

.image2{
	grid-row-start: 5;
	grid-row-end: 8;
	grid-column-start: 6;
	grid-column-end: 11;
}

.image3{
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 6;
	grid-column-end: 11;
}

.backg{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 25px #00000054;
}

.institution-name{
	margin: 160px 0 0 0;
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	display: inline-block;
	font-size: 1.5em;
	z-index: 10;
	position: absolute;
}

.institution-description{
	padding: 5em 2em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.description{
	max-width: 500px;
}

.institution-videos{
	text-align: center;
	background-color: #696969ad;
	padding: 1em 0 4em 0;
}

.instituion-video{
	width: 70%;
	height: 350px;
	max-width: 700px;
	box-shadow: 0 0 100px #4d4d4d;
}

.stories{
	font-size: 2.2em;
	color: white;
}

.institution-video{
	display: inline-block;
}

.institution-links{
	flex-basis: 100%;
}

.lnks{
	display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lnk{
	text-align: center;
	text-decoration: none;
	color: black;
	max-width: 280px;
	min-width: 260px;
	padding: 1em;
	box-shadow: none;
	background-color: white;
	box-shadow: 0 0 10px #b6b6b6;
	border-radius: 10px;
	margin: 0 0.5em 3em 0.5em;
}

.lnk:hover{
	cursor: pointer;
	box-shadow: 0 0 10px gray;
	transition: box-shadow .2s ease-out;
}

.advice{
	text-align: center;
	font-weight: bold;
	font-size: 1.05em;
}

.advice-image{
	width: 165px;
  display: inline-block;
  height: 165px;
}

.interesting-links{
	text-align: center;
	font-size: 2.2em;
	padding: 0;
	margin: 0 0 1.5em 0;
}

/* for the main page*/
#world-map{
	height: 85vh;
}

.header-index{
	background-image: url('../imagenes/collage.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header-index-container{
	display: flex;
	justify-content: space-around;
	background-color: rgba(255, 255, 255, 0.68);
	height: 85vh;
	align-items: center;
}

.header-title-container{
	flex-basis: 30%;
	text-align: center;
}

.header-politecnico-logo{
	width: 100%;
	display: inline-block;
}

.p-instituto{
	font-size: 2em;
	margin: 0;
	text-align: center;
	color: #3e3e3e;
}

.header-internacional{
	flex-basis: 40%;
	text-align: center;
}

.header-internacional-texto{
	font-size: 3em;
	color: #3e3e3e;
}

.world-container{
	background-color: whitesmoke;
	position: relative;
	color: #e1e1e1;
}

.world-container-title{
	background-color: #717171; /*4e7884*/
	height: 15vh;
	display: flex;
	align-items: center;
}

.world-s{
	flex-basis: 40%;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.world-container-selection{
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	height: auto;
	font-size: 1.6em;
}

.world-guia,
.world-formalizacion,
.world-exito{
	flex-basis: 20%;
	height: 15vh;
	text-align: center;
	border-right: solid;
  border-right-color: currentcolor;
  border-right-width: medium;
	border-color: #bfbfbf;
	border-width: thin;
}

.world-guia:hover,
.world-formalizacion:hover,
.world-exito:hover,
.world-s:hover{
	opacity: 0.8;
	cursor: pointer;
}

.world-guia-text,
.world-exito-text{
	margin: 0.5em 0;
}

.world-formalizacion-text{
	margin: 0.5em 0 0 0;
}

.world-guia span{
	font-size: 3.5em;
}

.world-formalizacion span{
	font-size: 5em;
}

.world-exito span{
	font-size: 3.5em;
}

.more-info{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.universities-container{
	color: white;
	background-color: #dcdcdc;
	display: flex;
	flex-wrap: wrap;
	flex-flow: wrap-reverse;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
}

.universities-decoration{
	position: absolute;
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
	bottom: 0;
	left: 0;
	background-color: #5c0227;
	height: 100%;
	width: 50%;
	z-index: 3;
}

.universities-container-gradient{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(rgba(15%, 15%, 17%, 0.85), rgba(15%, 15%, 17%, 0.95));
}

.universities{
	display: flex;
  flex-wrap: wrap;
  width: auto;
  align-content: space-evenly;
  justify-content: space-evenly;
	z-index: 10;
}

.university{
	padding: 0.5em;
  flex-basis: 35%;
  /* background-color: #232323; */
	background-color: #848484;
  border-radius: 5px;
  text-align: center;
  padding: 0.8em;
  border: none;
	max-width: 550px;
	margin-bottom: 1em;
	transition: all .2s ease-out;
	text-decoration: none;
	color: white;
}

.university-length-35{
	flex-basis: 35%;
}

.university-length-100{
	flex-basis: 100%;
}

.university:hover{
	cursor: pointer;
	transform: scale(1.08);
}

.university-name{
	font-size: 1.2em;
	margin: 0;
}

.country{
	flex-basis: 100%;
	justify-content: center;
	text-align: center;
	z-index: 10;
}

.country-name{
	font-size: 2em;
	margin: 0;
	color: #2b2b2b;
}

.country-useful-link{
	text-decoration: none;
  color: black;
  background-color: whitesmoke;
  padding: 1.2em;
  margin: 1em 0 0 0;
  display: inline-block;
  border-radius: 5px;
  font-size: 1.1em;
}

.country-useful-link:hover{
	cursor: pointer;
	opacity: 0.7;
}

/* jvectormap */
.jvectormap-legend-inner {
  margin-bottom: 3px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick {
  width: auto;
  margin-right: 10px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 13px;
}

.jvectormap-legend-cnt-h .jvectormap-legend-tick-sample {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.invisible{
	display: none;
}

@media (max-width: 579px) {
  .header-index-container {
    display: block;
  }
	.header-title-container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header-politecnico-logo{
		width: 40%;
		min-width: 160px;
		margin-top: 3em;
	}
	.p-instituto{
		font-size: 1.7em;
		margin: 1em 0 0 0;
		text-align: left;
		color: #3e3e3e;
	}
	.country{
		margin: 1em 0 2em 0;
		padding: 0 1em;
	}
}
