body{
  font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.header-main{
  height: 17vh;
  font-size: 0.8em;
  z-index: 99;
}

.header-main-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
}

.header-main-nav{
  display: flex;
  height: 17vh;
  position: relative;
}

.header-logo{
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img{
  height: 80px;
}

.header-menu{
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.header-options{
  display: none;
}

.header-menu-ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-basis: 80%;
  z-index: 10;
}

.header-menu-ul li{
  text-align: center;
  margin-right: 1em;
  position: relative;
}

.header-menu-ul li span{
  height: 3px;
  background-color: #00b2c0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  opacity: 0;
  transition: opacity 0.1s;
}

.header-menu-ul li:hover{
  cursor: pointer;
}

#se:hover #s{opacity: 1;}
#pa:hover #s1{opacity: 1;}
#ex:hover #s2{opacity: 1;}

.header-menu-ul img{
  height: 40px;
  width: 40px;
  display: inline-block;
}

.header-menu-ul p{
  margin: 0;
}

.map-section{
  height: 70vh;
  background-color: #f3f3f3;
}

.world-container{
  height: 56vh;
  flex-basis: 100%;
}

.world-text{
  height: 14vh;
  text-align: center;
  color: #606060;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-text-container{
  flex-basis: 100%;
}

.world-text-mov{
  margin: 0;
  font-size: 1.8em;
  border-bottom: solid;
  border-bottom-width: thin;
  width: 350px;
  display: inline-block;
}

.world-text-search{
  margin: 0.5em 0 0 0;
  font-size: 0.8em;
}

#world-map{
  height: 55vh;
}

.jvectormap-region {
    stroke: black;
    stroke-width: 1;
}

.search-bar{
  display: flex;
  justify-content: center;
  background-color: #00b2c0;
  height: 13vh;
  color: white;
}

.search-bar-container{
  flex-basis: 100%;
  display: flex;
  align-items: center;
  max-width: 850px;
}

.search-text-container{
  flex-basis: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  border-left: solid;
  border-left-width: thin;
  border-left-color: #207f7d;
  height: 8vh;
}

.search-text{
  flex-basis: 70%;
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 0.5em;
  border-left: solid;
  border-left-width: thin;
  border-left-color: white;
  margin-left: 3em;
}

.search-text:focus{
  outline: none;
}

.search-text::placeholder{
  color: white;
  opacity: 0.7;
}


.search-button{
  flex-basis: 25%;
  height: 13vh;
  background-color: #207f7d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 1.1em;
  font-weight: bold;
}

.universities-main-container{
  min-height: 100vh;
  text-align: center;
}

.universities-country-container,
.interesting-links-title-container,
.video-title-container{
  text-align: center;
}

.universities-country,
.interesting-links-title,
.video-title{
  color: #606060;
  font-size: 1.8em;
  text-align: center;
  display: inline-block;
  padding: 0.5em 2em;
  border-bottom: solid;
  border-bottom-color: #606060;
  border-bottom-width: thin;
}

.universities{
  width: 80%;
  display: inline-block;
  max-width: 870px;
  margin-top: 2em;
  margin-bottom: 4em;
}

.university-title{
  display: flex;
  color: white;
  font-weight: bold;
}

.univerity-title-name{
  flex-basis: 50%;
  background-color: #757575;
}

.univerity-title-others{
  flex-basis: 50%;
  display: flex;
}

.university-title-ranking{
  flex-basis: 40%;
  background-color: #ffa800;
  border-right: solid;
  border-left: solid;
}

.university-title-strenghts{
  flex-basis: 60%;
  background-color: #3d3d3d;
}

.university{
  display: flex;
  color: #757575;
  border-bottom: solid;
  border-bottom-width: thin;
  border-bottom-color: #757575;
}

.univerity-name{
  flex-basis: 50%;
}

.univerity-name p{
  text-align: left;
  padding: 1em 2em 0 2em;
}

.univerity-name p:last-child{
  color: #0386e0;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 0 1rem 2rem;
}

.school_link{
  color: #0386e0;
  text-decoration: none;
}

.arrow{
  margin-right: 0.4em;
}

.university-others{
  flex-basis: 50%;
  display: flex;
}

.univerity-ranking{
  flex-basis: 40%;
  padding: 1em 2em;
}

.university-strenghts{
  flex-basis: 60%;
  padding: 1em 2em;
}

footer{
  background-color: #3d3d3d;
  height: 10vh;
}

.invisible{
  display: none;
}

.header-main-univerity{
  margin: 0 0 0 2em;
  font-size: 1.9em;
}

.header-main-university-container{
  height: 17vh;
  display: flex;
  align-items: center;
}

.photos-main-container{
  min-height: 83vh;
  margin-top: 17vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.photos-loading{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos-loading img{
  width: 200px;
}

.photos{
  flex-basis: 96%;
  background-color: white;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.arrow-down-main-container{
  background-color: #3d3d3d;
}

.interesting-links-main-container{
  min-height: 95vh;
  background-color: #f3f3f3;
}

.interesting-links-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
}

.interesting-link{
  flex-basis: 40%;
  max-width: 280px;
  color: #606060;
  padding: 1em;
  margin-bottom: 1em;
  text-decoration: none;
}

.interesting-link:hover{
  box-shadow: 0 0 5px gray;
  cursor: pointer;
}

.interesting-link-photo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.interesting-link-photo{
  height: 165px;
  width: 165px;
}

.interesting-link-title{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.interesting-links-title-container,
.video-title-container{
  margin-bottom: 2em;
}

.interesting-link-description{
  text-align: center;
}

.video-title{
  color: white;
  border-bottom-color: white;
}

.video-main-container{
  min-height: 83vh;
  background-color: #00b2c0;
}

.video-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-player{
  flex-basis: 55%;
  height: 350px;
  min-width: 500px;
  margin-bottom: 2em;
}

.bw{
  background-size: cover;
  background-position: center;
}

@media (min-width: 500px){
  .header-menu-ul{
    display: flex;
  }
}

@media (max-width: 500px){
  .header-logo img{
    height: 60px;
  }
  .header-menu{
    justify-content: end;
  }
  .header-menu-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    top: 17vh;
    z-index: 10;
    display: none;
    transition: line-height 0.3s;
  }
  .header-menu-ul li{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1em;
    border-top: solid;
    border-top-width: thin;
    border-top-color: gray;
  }
  .header-menu-ul li img{
    margin-right: 1em;
  }
  .world-text-mov{
    width: 100%;
  }
  .header-options{
    display: block;
    font-size: 3em;
    color: #606060;
    margin-right: 1.5em;
    cursor: pointer;
  }
  .search-text{
    margin-left: 0.5em;
  }

  .university-title,
  .university-others{
    display: none;
  }
  .univerity-name{
    flex-basis: 100%;
  }
  .univerity-name p:last-child{
    font-size: 1em;
  }
  .universities{
    width: 100%;
    margin-top: 0;
  }


  .header-main-univerity{
    margin: 0;
    padding: 0 1em;
    font-size: 1.4em;
  }
  .interesting-links-container{
    padding: 0;
  }
  .interesting-link{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .interesting-link-photo{
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 579px){
  .video-player{
    flex-basis: 100%;
    min-width: unset;
    height: 250px;
  }
}
